.wrapper {
  align-items: flex-end;
  background: url("./images/130900225952116202391_BG27c_1280.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  height: 100%;
  padding: 16px;
}
