.wrapper {
  align-items: flex-end;
  background: url("./images/130900228134316404352_BG28a_1280.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  height: 100%;
  padding: 16px;
}
